/* CSS Here */

html, body {
	height: 100%;
}
.fullheight.container {
	height: calc(100% - 52px);
}
.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.table td {
	border-top: none !important;
}

div.table {
	&.table-striped {
		> div {
			white-space: nowrap;
			overflow: hidden;

			&:nth-of-type(odd) {
				background-color: #f9f9f9;
			}
			> div {
				padding: 10px;
				display: inline-block;
			}
		}
	}
}

.navbar {
	.navbar-brand img {
		margin-top: -7px;
	}
	.navbar-form-right {
		width: auto;
		padding: 0 15px;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
		float: right;
		margin: 8px -15px 8px 0;

		.form-group {
			display: inline-block;
			margin-bottom: 0;
			vertical-align: middle;
		}
	}
}

.main-view > *:first-child {
	margin-top: 72px;
}

.loading {
	background: url('../img/loading.gif');
	width: 40px;
	height: 40px;
}

.recipes {

	.recipe-item {
		cursor: pointer;
		&:hover {
			background-color: lightcyan !important;
		}
		.thumb {
			vertical-align: middle;
			> div {
				width: 64px;
				height: 64px;
				border-radius: 10px;
			}
		}
		.title {
			vertical-align: middle;
			overflow: hidden;
		}

		&.ng-enter, &.ng-move {
			transition: 0.3s ease-in-out all;
			opacity: 0;
			height: 0;
			&.ng-enter-active,
			&.ng-move-active {
				opacity: 1;
				height: 84px;
			}
		}
		&.ng-leave {
			transition: 0.3s ease-in-out all;
			opacity: 1;
			height: 84px;
			&.ng-leave-active {
				opacity: 0;
				height: 0;
			}
		}
	}
}


.recipe-detail {
	transition: 0.5s ease-in-out all;
	opacity: 1;
	max-height: 10000px;
	overflow: hidden;

	.picture {
		width: 100%;
		border-radius: 10px;
	}

	.ingredient {
		.quantity {
			text-align: right;
		}
		.name {
		}
	}

	.description {
		white-space: pre-wrap;
		padding-bottom: 10px;
	}
	.instructions {
		white-space: pre-wrap;
		padding-bottom: 10px;
	}

	&.ng-hide {
		display: block !important;
		opacity: 0;
		max-height: 0;
	}
}
