/* CSS Here */

html, body {
	height: 100%;
}
.fullheight.container {
	height: calc(100% - 52px);
}
.center-vertical {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-brand img {
	margin-top: -7px;
}
.navbar-form-right {
	width: auto;
	padding: 0 15px;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	float: right;
	margin: 8px -15px 8px 0;
}
.navbar-form-right .form-group {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.table td {
	border-top: none !important;
}

.recipes {
}

.recipe-item {
	cursor: pointer;
}

.recipe-item .thumb {
	width: 64px;
	height: 64px;
	border-radius: 10px;
}
.recipe-item .title {
	vertical-align: middle;
	overflow: hidden;
}
