/* CSS Here */
html, body {
  height: 100%; }

.fullheight.container {
  height: calc(100% - 52px); }

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.table td {
  border-top: none !important; }

div.table.table-striped > div {
  white-space: nowrap;
  overflow: hidden; }
  div.table.table-striped > div:nth-of-type(odd) {
    background-color: #f9f9f9; }
  div.table.table-striped > div > div {
    padding: 10px;
    display: inline-block; }

.navbar .navbar-brand img {
  margin-top: -7px; }
.navbar .navbar-form-right {
  width: auto;
  padding: 0 15px;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  float: right;
  margin: 8px -15px 8px 0; }
  .navbar .navbar-form-right .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

.main-view > *:first-child {
  margin-top: 72px; }

.loading {
  background: url('../img/loading.gif');
  width: 40px;
  height: 40px; }

.recipes .recipe-item {
  cursor: pointer; }
  .recipes .recipe-item:hover {
    background-color: lightcyan !important; }
  .recipes .recipe-item .thumb {
    vertical-align: middle; }
    .recipes .recipe-item .thumb > div {
      width: 64px;
      height: 64px;
      border-radius: 10px; }
  .recipes .recipe-item .title {
    vertical-align: middle;
    overflow: hidden; }
  .recipes .recipe-item.ng-enter, .recipes .recipe-item.ng-move {
    transition: 0.3s ease-in-out all;
    opacity: 0;
    height: 0; }
    .recipes .recipe-item.ng-enter.ng-enter-active, .recipes .recipe-item.ng-enter.ng-move-active, .recipes .recipe-item.ng-move.ng-enter-active, .recipes .recipe-item.ng-move.ng-move-active {
      opacity: 1;
      height: 84px; }
  .recipes .recipe-item.ng-leave {
    transition: 0.3s ease-in-out all;
    opacity: 1;
    height: 84px; }
    .recipes .recipe-item.ng-leave.ng-leave-active {
      opacity: 0;
      height: 0; }

.recipe-detail {
  transition: 0.5s ease-in-out all;
  opacity: 1;
  max-height: 10000px;
  overflow: hidden; }
  .recipe-detail .picture {
    width: 100%;
    border-radius: 10px; }
  .recipe-detail .ingredient .quantity {
    text-align: right; }
  .recipe-detail .description {
    white-space: pre-wrap;
    padding-bottom: 10px; }
  .recipe-detail .instructions {
    white-space: pre-wrap;
    padding-bottom: 10px; }
  .recipe-detail.ng-hide {
    display: block !important;
    opacity: 0;
    max-height: 0; }
